@model MyBackend.Models.Area

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Area</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Pic_URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Pic_URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Memo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Memo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_Geo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_Geo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_URL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.E_no">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
