@model IEnumerable<MyBackend.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.E_Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Pic_URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Geo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_URL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.E_Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Pic_URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Geo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_URL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.E_no">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.E_no">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.E_no">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
